.card {
  display: flex;
  margin: 1rem;
}

.header-text {
}

.card-title {
  display: f;
  text-align: left;
  font-size: 2rem;
  color: var(--text-tertiary);
}
.subtitle {
  color: var(--text-secondary);
}
.button-edit-backstory {
  display: flex;
  text-align: center;
  gap: 0.25rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card.backstory:hover .button-edit-backstory {
  opacity: 1;
}

.backstory {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .button-container {
    display: flex;
    gap: 0.5rem;
    width: 100%;

    .generate-button,
    .accept-manual-button {
      flex: 1;
    }
  }

  .backstory-textarea {
    background-color: var(--bg-primary);
    min-height: 120px;
    margin: 1rem 0;
  }

  .generated-backstory-overlay {
    width: 100%;
    border-radius: 8px;
    margin: 1rem;

    .generated-content-text {
      padding: 1rem;
      line-height: 1.6;
      color: var(--text-secondary);
      white-space: pre-wrap;
      overflow-y: auto;
      font-size: 1.2rem;
      background: var(--bg-primary);
      border-radius: 8px;
      & p {
        border-left: 5px solid var(--accent-primary);
        padding: 0.5rem;
        text-align: justify;
      }
      .action-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 0.25rem;
      }
    }
  }

  .error-message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--accent-danger);
    background: var(--bg-tertiary);
    border: 1px solid var(--accent-danger);
    border-radius: 4px;
    padding: 0.75rem;
    font-size: 0.9rem;

    i {
      font-size: 0.9rem;
    }
  }

  .requirements-message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--accent-primary);
    background: var(--bg-tertiary);
    border: 1px solid var(--accent-primary);
    border-radius: 4px;
    padding: 0.75rem;
    font-size: 0.9rem;

    i {
      font-size: 0.9rem;
    }
  }

  .edit-backstory-textarea {
    min-height: 150px;
    width: 100%;
    margin: 1rem 0;
  }

  .edit-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-top: 0.5rem;
  }
}
