:host {
  border-radius: var(--p-button-border-radius);
  transition:
    background-color 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
  &:hover {
    box-shadow: var(--shadow-quinary);
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(2px);
    box-shadow: var(--shadow-quaternary);
  }
}

:host(.full-width) {
  width: 100%;
  
  ::ng-deep p-button {
    width: 100%;
    
    button {
      width: 100%;
    }
  }
}
