:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;

  span {
    font-size: 2.5rem;
  }

  .title {
    text-align: center;
    font-size: 4rem;
    color: var(--p-text-color);
    color: #f33f3f;
  }
}

.box-subtitle {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  color: var(--text-secondary);
  max-width: 800px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92.5%;
  gap: 1rem;
}
