<p-toast />
<aso-character-create-header
  (returnToList)="onReturnToList()"
  (generateRandomCharacter)="onGenerateRandomCharacter()"
></aso-character-create-header>

<div class="identy-container">
  <form [formGroup]="characterForm" (ngSubmit)="onSubmit()" class="identy-form">
    <aso-character-identity-form
      [characterForm]="characterForm"
      [ancestries]="ancestries"
      [classes]="classes"
      [loading]="loading"
      [formSubmitted]="formSubmitted"
      (generateRandomName)="onGenerateRandomName()"
    ></aso-character-identity-form>

    <aso-character-attributes-form
      [characterForm]="characterForm"
    ></aso-character-attributes-form>

    <aso-character-backstory-form
      [characterForm]="characterForm"
      (generateBackstory)="onGenerateBackstory()"
    ></aso-character-backstory-form>
  </form>

  <aso-character-sheet-preview
    [characterForm]="characterForm"
    [displayName]="displayName"
    [displayAncestry]="displayAncestry"
    [displayClass]="displayClass"
    (saveCharacter)="onSaveCharacter()"
  ></aso-character-sheet-preview>
</div>
