<!-- Seção de Personagens -->
<div class="characters-card">
  <div class="card-header">
    <i class="pi pi-id-card"></i>
    <span class="header-title">PERSONAGENS</span>
  </div>
  <div class="characters-avatars">
    @for (player of players(); track player.id) { @for (character of
    player.characters; track character.id) {
    <div
      class="character-avatar-item"
      (click)="onCharacterClick(character)"
      [title]="character.name"
    >
      <img
        [src]="character.image || 'assets/Character/unknown.png'"
        [alt]="character.name"
        class="character-avatar"
      />
    </div>
    } }
  </div>
</div>
