@if (label !== null) {
<label [for]="inputId">{{ label }}</label>
}
<p-select
  [options]="options"
  [placeholder]="placeholder"
  [optionLabel]="optionLabel"
  [filter]="filter"
  [filterBy]="filterBy"
  [showClear]="showClear"
  [style]="{ width: '100%' }"
  [inputId]="inputId"
  [loading]="loading"
  [disabled]="isDisabled"
  [(ngModel)]="value"
  (ngModelChange)="handleSelectionChange($event)"
  [attr.invalid]="isInvalid ? 'true' : null"
  [class.ng-invalid]="isInvalid"
  [class.ng-touched]="isInvalid"
>
  <ng-template #selectedItem let-selectedOption>
    <div class="flex items-center gap-2">
      <div>{{ selectedOption.name }}</div>
    </div>
  </ng-template>
  <ng-template let-option #item>
    <div class="flex items-center gap-2">
      <div>{{ option.name }}</div>
    </div>
  </ng-template>
</p-select>
