:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
  // padding: 1rem;
  align-items: end;
  .slider-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      font-size: 1.3rem;
      color: var(--text-secondary);
    }
    div {
      width: 2.5rem;
      display: flex;
      align-items: center;
      color: var(--text-secondary);
      text-align: center;
      font-size: 1.3rem;
      margin: 0 0.5rem 0.8rem 0;
      padding: 0.3rem;
      background-color: var(--bg-primary);
      border-radius: 0.5rem;
      border: 1px solid var(--p-content-border-color);
    }
  }
}
