<aso-card class="character-sheet">
  <div class="w-full text-center">
    <h3 class="card-title headline">Ficha de Personagem</h3>
  </div>
  <div class="character-image">
    <p-image
      [src]="characterForm.get('image')?.value?.url || 'assets/Character/unknown.png'"
      alt="Imagem do Personagem"
      class="character-image-preview"
    />
  </div>

  <div class="character-name">{{ getCharacterName() }}</div>
  <label class="red-line w-full text-left">{{ getAncestryAndClass() }}</label>
  <h4 class="attributes-title">Atributos</h4>
  <div class="attributes-container">
    <label class="attribute-label" for="strength">Força</label>
    <div class="attribute-value">{{ getAttributeModifier('strength') }}</div>
  </div>
  <div class="attributes-container">
    <label class="attribute-label" for="dexterity">Destreza</label>
    <div class="attribute-value">{{ getAttributeModifier('dexterity') }}</div>
  </div>
  <div class="attributes-container">
    <label class="attribute-label" for="constitution">Constituição</label>
    <div class="attribute-value">
      {{ getAttributeModifier('constitution') }}
    </div>
  </div>
  <div class="attributes-container">
    <label class="attribute-label" for="intelligence">Inteligência</label>
    <div class="attribute-value">
      {{ getAttributeModifier('intelligence') }}
    </div>
  </div>
  <div class="attributes-container">
    <label class="attribute-label" for="wisdom">Sabedoria</label>
    <div class="attribute-value">{{ getAttributeModifier('wisdom') }}</div>
  </div>
  <div class="attributes-container">
    <label class="attribute-label" for="charisma">Carisma</label>
    <div class="attribute-value">{{ getAttributeModifier('charisma') }}</div>
  </div>

  <div class="skills-container">
    <h4 class="attributes-title w-full text-left">Perícias</h4>
    <div class="skills-list">
      @for (skill of getSkills(); track skill) {
      <span class="skill-value">{{ skill }}</span>
      } @empty {
      <span class="skill-value">Nenhuma perícia selecionada</span>
      }
    </div>
  </div>

  <div class="backstory-container">
    <h4 class="backstory-title">Historia do Personagem</h4>
    <div class="backstory-value">
      {{ characterForm.get('backstory')?.value || '' }}
    </div>
  </div>

  <aso-button
    class="button-create w-full mt-5 font-semibold"
    [label]="'Salvar Personagem'"
    [icon]="'fas fa-save'"
    [severity]="'info'"
    (eventClick)="onSaveCharacter()"
    [styleClass]="{ width: '100%' }"
  />
</aso-card>
