.character-sheet {
  display: flex;
  font-family: "Literata", serif;
  width: 100%;
  margin: 1rem;

  .card-title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--text-tertiary);
  }

  .character-name {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 2rem;
    color: var(--text-primary);
    width: 100%;
    height: 4rem;
  }
  .red-line {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    color: var(--text-secondary);
    border-bottom: 1px solid var(--accent-danger);
  }

  .attributes-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.5rem;
    color: var(--text-primary);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .attributes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--p-content-border-color);

    .attribute-label {
      font-size: 1rem;
      color: var(--text-secondary);
    }

    .attribute-value {
      font-size: 1rem;
      color: var(--text-primary);
      font-weight: bold;
    }
  }

  .skills-container {
    width: 100%;
    .skills-list {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 1rem;
      justify-content: flex-start;

      .skill-value {
        background-color: var(--bg-primary);
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 1rem;
        color: var(--text-secondary);
        border: 1px solid var(--p-content-border-color);
      }
    }
  }

  .backstory-container {
    width: 100%;

    .backstory-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 1.5rem;
      color: var(--text-primary);
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    .backstory-value {
      font-size: 1.1rem;
      width: 100%;
      min-height: 15rem;
      color: var(--text-secondary);
      border-radius: 10px;
      padding: 0.5rem;
      background-color: var(--bg-primary);
      border: 1px solid var(--p-content-border-color);
      text-align: justify;
      overflow-y: auto;
      height: 200px;
    }
  }
}
