<header class="aso-header">
  <div class="logo">
    <img src="assets/escudo.png" alt="Logo" />
    <h1 class="logo-title">ASO</h1>
  </div>

  <nav class="nav-bar">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active">
          <span>🏰</span>
          Início
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/personagens" routerLinkActive="active">
          <span>🧙🏼‍♂️</span>
          Personagens
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/campanhas" routerLinkActive="active">
          <span>🫅🏼</span>
          Campanhas
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/mundos" routerLinkActive="active">
          <span>🌎</span>
          Mundos
        </a>
      </li>
    </ul>
  </nav>

  <div class="user-section">
    <button class="user-button">👤</button>
  </div>
</header>
