// Corrige fundo para respeitar o tema
.aso-character {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 100%;
  margin: 1rem auto;
  .box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    margin: 1rem;
    span {
      font-size: 2.5rem;
    }
    .title {
      text-align: center;
      font-size: 3rem;
      color: var(--p-text-color);
      color: #f33f3f;
    }
  }
  .character-card {
    width: 80%;
  }
  .form-character {
    display: flex;
    width: 80%;
    .filter {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      width: 100%;
      max-width: 1200px;
      min-width: 300px;
    }
  }
  .character-list {
    display: grid;
    width: 100%;
    max-width: 1100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .empty-list {
    grid-column: span 3;
    text-align: center;
    padding: 2rem;
    margin: 1rem auto;
    color: var(--text-secondary);
    & i {
      font-size: 2rem;
      color: var(--text-secondary);
    }
    & p {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
}
