<p-tabs [value]="activeTab">
  <p-tablist>
    <p-tab value="0">ASO | Imagens</p-tab>
    <p-tab value="1" disabled>Minhas Imagens</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <!-- Loading state -->
      @if (imagesLoading) {
      <div class="character-images-list">
        @for (item of skeletonItems; track $index) {
        <div class="character-image-item">
          <p-skeleton size="100%" class="mr-2" />
        </div>
        }
      </div>
      } @else if (hasApiImages) {
      <div class="character-images-list">
        @for (image of apiImages; track image.id) {
        <div
          class="character-image-item"
          [class.selected]="selectedImageIndex === $index"
          (click)="selectImage($index)"
        >
          <img [src]="image.url" class="character-image" [alt]="image.name" />
        </div>
        }
      </div>
      }
      <!-- No images available -->
      @else {
      <div class="empty-state-container">
        <div class="empty-state">
          <p>Nenhuma imagem disponível</p>
        </div>
      </div>
      }
    </p-tabpanel>

    <p-tabpanel value="1">
      <div class="character-images-list">
        <p>Funcionalidade em desenvolvimento</p>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
<p-toast></p-toast>
<aso-dialog-footer 
  saveLabel="Selecionar" 
  saveIcon="fas fa-check" 
  (eventClose)="onClose()" 
  (eventSave)="onSave()">
  <p-fileupload
    mode="basic"
    [auto]="true"
    chooseLabel="Escolher Imagem"
    chooseIcon="pi pi-upload"
    accept="image/*"
    maxFileSize="1000000"
    disabled="true"
    [showUploadButton]="false"
    [showCancelButton]="false"
  />
</aso-dialog-footer>
