:host {
  width: 100%;
  // margin: 1rem;
}
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--accent-quaternary);
  color: var(--text-secondary);
  border-radius: 5px;
  resize: vertical;
  box-sizing: border-box;
}

textarea:focus {
  outline: none;
  border-color: var(--accent-primary);
  box-shadow: 0 0 0 3px var(--accent-secondary);
}
