<!-- Coluna lateral esquerda -->
<div class="sidebar">
  <!-- Card do Mestre -->
  @if (master()) {
  <aso-campaign-master-card [master]="master()!" />
  }

  <!-- Lista de Jogadores -->
  <aso-campaign-players-card 
    [players]="players()" 
    [maxPlayers]="maxPlayers()"
    [isGameMaster]="isGameMaster()"
    (playerSelected)="onPlayerSelected($event)"
    (addPlayer)="onAddPlayer()"
  />

  <!-- Seção de Personagens -->
  <aso-campaign-characters-card
    [players]="players()"
    (characterClick)="onCharacterSelected($event)"
  />
</div>
