<main class="aso-home">
  <section class="introduction">
    <img class="oraculo-img" src="assets/Logo.png" alt="" />
  </section>
  <section class="features">
    <aso-feature-card
      icon="📖"
      title="Criar Aventura"
      description="Crie e desenvolva sua campanhas de RPG com facilidade e criatividade."
    ></aso-feature-card>

    <aso-feature-card
      route="/personagens/criar"
      icon="🧙🏼‍♂️"
      title="Criar Personagem"
      description="Crie e gerencie a historia de seu personagem com auxilio da IA."
    ></aso-feature-card>

    <aso-feature-card
      icon="🌎"
      title="Criar mundos"
      description="Crie e desenvolva mundos ricos e detalhados para suas aventuras."
    ></aso-feature-card>
  </section>

  <section class="about">
    <h2 class="about-title">Sobre</h2>
    <div class="about-text">
      <p>
        Oráculo de História Artificial é uma plataforma inovadora criada para
        transformar suas aventuras de RPG em narrativas épicas e memoráveis.
      </p>
      <p>
        Nascido de uma pesquisa de TCC em 2025, o projeto tem como missão apoiar
        mestres e jogadores na criação de campanhas envolventes, ricas em
        detalhes e cheias de possibilidades.
      </p>
      <p>
        Com o auxílio do Oráculo, você poderá desenvolver mundos inteiros,
        tramas complexas e personagens marcantes. A Inteligência Artificial está
        aqui para gerar ideias, sugerir reviravoltas criativas e impulsionar sua
        imaginação.
      </p>
      <p>
        Seja construindo uma campanha do zero ou aprofundando a história de um
        personagem, o Oráculo integra cada elemento de forma coesa, dando vida a
        um universo único moldado por você.
      </p>
    </div>
  </section>

  <section class="feature-historic">
    <h2 class="infos-title">Atualizações Recentes</h2>
    <div class="historic-cards">
      <aso-historic-card
        title="Nova Campanha: As Sombras de Eldoria"
        date="12/05/2023"
        description="Uma nova ameaça surge nas terras de Eldoria. Reúna seu grupo e enfrente as forças das sombras!"
      ></aso-historic-card>

      <aso-historic-card
        title="Novo Sistema de Magia"
        date="03/04/2023"
        description="Implementamos um novo sistema de magia com mais de 100 feitiços e rituais para seus personagens."
      ></aso-historic-card>
    </div>
  </section>
</main>
