<div class="character-card">
  <div class="character-header">
    <div class="character-info">
      <h3 class="character-name">{{ character.name }}</h3>
      <span class="character-class-ancestry">
        {{ character.class }} | {{ character.ancestry }}
      </span>
    </div>
    <div class="character-level">
      <span class="material-icons star-icon">star</span>
      <span class="level-number">{{ character.level }}</span>
      <span class="tooltip-text tooltip-level">Nível</span>
    </div>
  </div>
  <div class="character-details">
    <div
      class="character-image"
      [ngStyle]="{
        'background-image': 'url(./assets/Character/' + character.image + ')',
      }"
    ></div>

    <div class="character-stats">
      <div class="character-health">
        <span class="material-icons icon-health">favorite</span>
        <span class="character-health-value">{{ character.health }}</span>
        <span class="tooltip-text tooltip-health">Vida</span>
      </div>

      <div class="character-mana">
        <span class="material-icons icon-mana">flash_on</span>
        <span class="character-mana-value">{{ character.mana }}</span>
        <span class="tooltip-text tooltip-mana">Mana</span>
      </div>
    </div>
  </div>

  <div class="character-actions">
    <aso-button [label]="'Ver Detalhes'" (eventClick)="onView()" />
    <aso-button
      [label]="'Editar'"
      severity="secondary"
      (eventClick)="onEdit()"
    />
    <!-- <aso-button icon="pi pi-trash" severity="danger" /> -->
  </div>
</div>
