:host {
  display: block;
}

.character-card {
  border: 2px solid var(--accent-primary);
  border-radius: 10px;
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow-quinary);
  transition: all 0.3s ease;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  background-color: black;
  color: var(--text-secondary);
  text-align: center;
  border-radius: 5px;
  padding: 5px 8px;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.character-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--accent-primary);
  padding: 1rem;
  background-color: rgb(13, 13, 13);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .character-info {
    display: flex;
    flex-direction: column;
  }

  .character-name {
    font-size: 1.5rem;
    color: var(--text-primary);
  }

  .character-class-ancestry {
    font-size: 1rem;
    color: var(--text-secondary);
  }

  // star icon styles
  .character-level {
    position: relative;
    width: 60px;
    height: 60px;
    .star-icon {
      font-size: 60px;
      display: block;
    }
    .level-number {
      position: absolute;
      top: 51.5%;
      left: 50%;
      transform: translate(-50%, -55%);
      font-size: 16px;
      color: black;
      pointer-events: none;
    }

    .tooltip-level {
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }

  .character-level:hover {
    cursor: pointer;

    .tooltip-level {
      visibility: visible;
      opacity: 1;
    }
  }
}

.character-details {
  display: flex;
  padding: 1rem;
  justify-content: space-between;

  .character-image {
    width: 82%;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-primary);
    background-image: url('/assets/Character/unknown.png');
    border-radius: 0.5rem;
    box-shadow: var(--shadow-quinary);
  }
  .character-stats {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .character-health {
    display: flex;
    align-items: end;
    flex-direction: column;
    font-size: 1.2rem;
    color: var(--text-primary);
    margin-bottom: 0.5rem;

    .icon-health {
      font-size: 2rem;
      // margin-right: 0.5rem;
      color: rgb(255, 0, 0);
    }

    .character-health-value {
      color: var(--text-secondary);
    }
  }
  .tooltip-health {
    transform: translateX(100%);
    white-space: nowrap;
  }

  .character-health:hover .tooltip-health {
    visibility: visible;
    opacity: 1;
  }

  .character-mana {
    display: flex;
    align-items: end;
    flex-direction: column;
    font-size: 1.2rem;
    color: var(--text-primary);
    margin-bottom: 0.5rem;

    .icon-mana {
      font-size: 2rem;
      // margin-right: 0.5rem;
      color: rgb(255, 149, 0);
    }

    .character-mana-value {
      color: var(--text-secondary);
    }
  }

  .tooltip-mana {
    transform: translateX(100%);
    white-space: nowrap;
  }
  .character-mana:hover .tooltip-mana {
    visibility: visible;
    opacity: 1;
  }
}

.character-actions {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.1rem;

  ::ng-deep aso-button {
    width: 100%;
    
    button {
      width: 100%;
    }
  }

  .action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    background-color: var(--btn);
    color: var(--text-quaternary);
    text-decoration: none;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease,
      box-shadow 0.2s ease;
    box-shadow: var(--shadow-primary);
    cursor: pointer;
    .icon {
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
  }

  .view-details:hover {
    background-color: var(--accent-primary);
    box-shadow: var(--shadow-quinary);
    transform: translateY(-2px);
  }
  .view-details:active {
    background-color: var(--accent-secondary);
    transform: translateY(2px);
    box-shadow: var(--shadow-quaternary);
  }

  .delete:hover {
    background-color: var(--accent-danger);
    transform: translateY(-2px);
    box-shadow: var(--shadow-quinary);
  }
  .delete:active {
    background-color: var(--accent-danger-active);
    transform: translateY(2px);
    box-shadow: var(--shadow-quaternary);
  }
}
