/* You can add global styles to this file, and also import other style files */
@use "./styles/_variables.scss";
@use "../node_modules/primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
body {
  font-family: Inter, sans-serif;
  font-weight: 100;
}

label,
.headline {
  font-family: "Literata", serif !important;
  font-weight: 400 !important;
}
